/* General Styles */
body {
  background-color: #000; /* Black background color */
  color: #fff; /* White text color */
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Section Styles */
header {
  padding: 20px 0;
}

.shift {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.imagep img {
  width: 180px;
  height: 180px;
  clip-path: circle();
  border-style: solid;
  border-color: white; /* Set the border color to white */
}

.names {
  margin-top: 10px;
}

/* About Section Styles */
#about p {
  text-align: center;
}

/* Skills Section Styles */
#skills h2,
#projects h2,
#resume h2,
#contact h2 {
  color: #1abc9c; /* Green color for section headings */
}

#skills ul,
#projects ul {
  list-style: none;
  padding: 0;
}

#skills li,
#projects li {
  margin-bottom: 10px;
}

/* Project Section Styles */
.project {
  margin-bottom: 20px;
}

.project img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Footer Section Styles */
footer {
  background-color: #333; /* Dark gray background color for the footer */
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Responsive Design for Mobile View */
@media only screen and (max-width: 768px) {
  .shift {
    flex-direction: column;
  }

  .imagep img {
    margin-bottom: 10px;
  }
}
